
<div class="app-movie">

  <h2 class="app-movie__title"> INFO</h2>

  <div class="app-movie__content" fxLayout="row wrap" fxLayout.lt-sm="column">
    <p>Serwisem jest katalog książek, w którym można pisać komentarze dotyczące poszczególnych tytułów oraz oceniać je.</p>
    <p>Do implementacji serwisu użyto Angulara do aplikacji frontendowej oraz Spring Boota do aplikacji backendowej.</p>
    <p>Do prezentacji głównego elementu, czyli karty książki, użyto efektywnych cieni oraz obrazu zastępczego w przypadku braku dostępnej oryginalnej okładki.</p>
    <p>Aplikacja ma możliwość rejestracji i logowania oraz zapisuje dane w bazie danych MySQL.</p>
    <p>Podczas planowania interfejsu zwrócono najwyższą uwagę na czytelność, aby główne elementy były najbardziej widoczne w centralnej części oraz na to, aby poszczególne sekcje były widocznie od siebie odseparowane.</p>

  </div>

</div>


