<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">

      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>

      <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="username" >
            <mat-error *ngIf="f.username.errors && (f.username.touched || f.username.dirty)">Username is required</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="f.username.errors && (f.username.touched || f.username.dirty)">Password is required</mat-error>
          </mat-form-field>
        </mat-card-content>

        <button mat-stroked-button color="accent" class="btn-block">Log in
          <mat-icon *ngIf="loading">
            <mat-spinner color="accent" diameter="20"> </mat-spinner>
          </mat-icon>
        </button>
      </form>

    </mat-card>

  </div>


